@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Pixelify Sans", sans-serif;
}

#container {
  width: 95%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#count1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

#count1 h1#count {
  font-size: 10rem;
}
.btn {
  width: 150px;
  height: 45px;
  font-size: 30px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.btn:hover {
  background: black;
  color: white;
}
